<%

	var format = descriptor ? descriptor.getOptionValue('format', 'yy-mm-dd') : 'yy-mm-dd';
	var convertValue = null;

	if(value && typeof value.__className == 'undefined'){
		//시간을 표시하기위해 datepicker를 사용하지 않게 수정
		convertValue = this.value.format(format);
		//convertValue = $.datepicker.formatDate( format, value );
	}
					
	if(mw3.when == 'new' || mw3.when == 'edit'){
%>	
		<input type="text" class="form-control input-sm" id="<%=mw3.createInputId(objectId)%>" style="width:100px; color:#666; float:left" when="<%=mw3.when%>" format="<%=format%>" />&nbsp;
		<span class="glyphicon glyphicon-remove-circle" style="font-size:18px; line-height:30px;" onclick="mw3.getFaceHelper(<%=objectId%>).clear()" value="clear"></span>
		
<%			
	}else if(mw3.when == 'timeago'){
		if(value){	
%>
	<abbr class="timeago" title="<%= value.ISODateString() %>"><%=convertValue%></abbr>
<%	
		}
	}else{	
		if(value){
%>
		<%=convertValue%>
<%		
		}
	}
%>