<div class="btn-group" style="margin: 10px;">
<%
 if(value){
  if(objectMetadata.serviceMethodContexts){
   for(var key in objectMetadata.serviceMethodContexts){
    var serviceMethod = objectMetadata.serviceMethodContexts[key];
    var methodName = serviceMethod.methodName;
    var menuName = methodName;

    if(mw3.isHiddenMethod(methods[methodName]))
     continue;
    
    if(serviceMethod.displayName)
     menuName = serviceMethod.displayName;   
   
    menuName = menuName.replace("\&", "");
    
    var iconName;

    if(methodName == "save"){
     iconName="fa fa-save"
    }else if(methodName == "selectAll"){
     iconName="fa fa-check-square"
    }else if(methodName == "copyElement"){
     iconName="fa fa-copy"
    }else if(methodName == "pasteElement"){
     iconName="fa fa-paste"
    }else if(methodName == "deleteElement"){
     iconName="fa fa-trash-o"
    }else if(methodName == "boldLabel"){
     iconName="fa fa-bold"
    }else if(methodName == "italicLabel"){
     iconName="fa fa-italic"
    }else if(methodName == "scale"){
     iconName="fa fa-text-height"
    }else if(methodName == "format"){
     iconName="fa fa-puzzle-piece"
    }else if(methodName == "text"){
     iconName="fa fa-font"
    }else if(methodName == "alignElement"){
     iconName="fa fa-th-large"
    }
      
%>
    <button type="button" class="btn btn-default main-menu menu-<%=methodName%> " onclick="mw3.getFaceHelper('<%=objectId%>').callMethod(this, '<%=methodName%>');"  style="padding:6px 10px;font-size:12px;"><i class="<%=iconName%>"></i> <%=menuName%></button>     
<%
   }
  }
 }
%>
 <div style="clear:both" />
</div>