

<%

if(value){



    var alpha = value.alpha;%>


<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><H1> <a name="<%=alpha.name%>" style="color:black"><%=alpha.name%></a></h1>
    </div>

    <%if(alpha.description && alpha.description.trim().length > 0){%>
    <div class="panel-body">
        <p><%=alpha.description%></p>
    </div>
    <%}

    if(false){ //disabled for kernel

    %>




<table class="table table-striped active">
    <tr>
<%

        if(!mw3.uengineUML){
            mw3.uengineUML = {classDefinitions:{}};
        }

        mw3.uengineUML.classDefinitions[alpha.name] = alpha;

        if(alpha.fieldDescriptors){

            for (var i=0; i<alpha.fieldDescriptors.length; i++) {

                var fd = alpha.fieldDescriptors[i];

                if (fd.name == 'metaworksContext') continue;

                %><th><%=fd.displayName ? fd.displayName : fd.name%></th><%
            }
        }else{
            %><th>ID</th><%
        }

        var lengthOfLevels = 0;

        if(alpha.states){
            lengthOfLevels = alpha.states.length;
        }else if(alpha.levelOfDetails){
            lengthOfLevels = alpha.levelOfDetails.length;
        }

%>


<%

        if(alpha.states){
            for(var i in alpha.states){
                var state = alpha.states[i];
                %><th><%=state.name%><%=(state.aggregationAlphaState && state.aggregationAlphaState!=state.name ? "(" + state.aggregationAlphaState + ")" : "")%></th><%

            }
        }else if(alpha.levelOfDetails){
            for(var i in alpha.levelOfDetails){
                var levelOfDetail = alpha.levelOfDetails[i];
                %><th><%=levelOfDetail.name%></th><%

            }
        }
    %>
        <th></th>

    </tr>

        <%=fields.alphaInstances.here()%>

</table>

    <%
    }


    if(value.childAlphaGameBoards){

    %><table height='10px'><td width=20px><div onclick="$(event.target).closest('table').css('height', '100%')"></div></td><td>

        <%=fields.childAlphaGameBoards.here()%>

    </td></table><%
    }
}

%>



</div>