<div style="padding:15px">

<table width="95%">


            <!--header-->
            <tr><th width="75px"></th>

                <%

                if(value.alphaGameBoards)
                for (var i=0; i<value.alphaGameBoards.length; i++){
                    var alphaName = value.alphaGameBoards[i].alpha.name;

                %>
                    <th align="center"><center><h5><u><a href="#<%=alphaName%>" style="color:black"><%=alphaName%></a></u></h5></center></th>
                <%
                }%>

            </tr>



            <tr><td><!--font color="#222"> done</font--></td>

                <%

                    if(value.alphaGameBoards)
                    for (var i=0; i<value.alphaGameBoards.length; i++){
                        var alphaGameBoard = value.alphaGameBoards[i];
                        var alphaName = alphaGameBoard.alpha.name;

                %>
                    <td align="center" style="background-image: url('http://demandware.edgesuite.net/aakn_prd/on/demandware.static/-/Sites-bdel/default/dw05008c96/swatches/black.png'); background-position:center; background-size: 3px; background-repeat: repeat-y">
                        <div style="padding:10px">
                <%
                    if(alphaGameBoard){

                        var alphaInstance = alphaGameBoard.alphaInstances[0].languageElementInstance;

                        if(alphaInstance.currentStateName)
                        for(var j=0; j<alphaGameBoard.alpha.states.length; j++){
                            var state = alphaGameBoard.alpha.states[j];

                            if(alphaInstance.currentStateName == state.name)
                                break;

                            %><button type="button" class="btn btn-default tooltip-top" data-placement="right" data-toggle="tooltip" data-original-title="<%=state.description%>"> <%=state.name%> </button><br><%
                        }
                    }

                %>
                        </div>
                    </td>
                <% }%>

            </tr>


            <tr><td><div class="tag"> now</div></td><td align="center" colspan="7"><hr style="color: black; border-color: black; background-color: black; margin: 0px"></td> </tr>


            <tr><td><!--font color="#222">working</font--></td>

                <%

                if(value.alphaGameBoards)
                for (var i=0; i<value.alphaGameBoards.length; i++){
                    var alphaGameBoard = value.alphaGameBoards[i];
                    var alphaName = alphaGameBoard.alpha.name;

                %>
                <td align="center" style="background-image: url('http://demandware.edgesuite.net/aakn_prd/on/demandware.static/-/Sites-bdel/default/dw05008c96/swatches/black.png'); background-position:center; background-size: 3px; background-repeat: repeat-y">
                    <div style="padding:10px">
                    <%
                    if(alphaGameBoard){

                        var alphaInstance = alphaGameBoard.alphaInstances[0].languageElementInstance;

                        for(var j=0; j<alphaGameBoard.alpha.states.length; j++){
                            var state = alphaGameBoard.alpha.states[j];

                            if(alphaInstance.currentStateName == state.name || alphaInstance.stateDetailsByStateName[state.name] && alphaInstance.stateDetailsByStateName[state.name]["WIPCount"]){
                        %><button type="button" class="btn btn-success tooltip-top" data-placement="right" data-toggle="tooltip" data-original-title="<%=state.description%>"> <%=state.name%> </button><br><%
                            }
                        }
                    }

                    %>
                    </div>

                </td>

                <% }%>

            </tr>

            <!--todo states-->

            <tr><td><div class="tag"> to-do</div></td><td align="center" colspan="7"><hr style="color: black; border-color: black; background-color: black; margin: 0px"></td> </tr>

            <tr><td><!--font color="#222">to do</font--></td>
            <%

                if(value.alphaGameBoards)
                for (var i=0; i<value.alphaGameBoards.length; i++){
                    var alphaGameBoard = value.alphaGameBoards[i];
                    var alphaName = alphaGameBoard.alpha.name;

                %>
                    <td align="center" style="background-image: url('http://demandware.edgesuite.net/aakn_prd/on/demandware.static/-/Sites-bdel/default/dw05008c96/swatches/black.png'); background-position:center; background-size: 3px; background-repeat: repeat-y">
                        <div style="padding:10px">
                    <%
                    if(alphaGameBoard){

                        var alphaInstance = alphaGameBoard.alphaInstances[0].languageElementInstance;

                        var isDone = alphaInstance.currentStateName;

                        for(var j=0; j<alphaGameBoard.alpha.states.length; j++){
                            var state = alphaGameBoard.alpha.states[j];

                            if(alphaInstance.stateDetailsByStateName[state.name] && alphaInstance.stateDetailsByStateName[state.name]["WIPCount"]){
                                if(alphaInstance.currentStateName == state.name){
                                    isDone = false;
                                }

                                continue;
                            }

                            if(!isDone){
                                %><button type="button" class="btn btn-info tooltip-top" data-placement="right" data-toggle="tooltip" data-original-title="<%=state.description%>"> <%=state.name%> </button><br><%
                            }

                            if(alphaInstance.currentStateName == state.name){
                                    isDone = false;
                            }
                        }
                    }

                    %>
                        </div>
                    </td>
                <% }%>

            </tr>

        </table>

    <hr>

        <%=methods.toggleEditable.here()%>
<%=fields.alphaGameBoards.here()%>


</div>
