<table style="
    width: 100%;
    border: 1px;
    border-color: black;
    border-style: solid;
">
	<tr>
		<td>
			<img src=<%=value['img']%> height="60" width="70"  />
			<%=fields.name.here()%>
		</td>
		<td style=" float : right; ">
			<%=fields.parentName.here()%>
		</td>
	</tr>
	
	<tr style="height: 23em;">
		<td style="width : 50%; overflow:auto; position:relative; border-top:1px solid;">
			<%=fields.canvas.here()%>
		</td>
		
		<td style="width : 50%; overflow:auto;position: relative; border-top:1px solid; border-left:1px solid;">
			<%=fields.description.here()%>	
		</td>
	</tr>
</table>