<table style="border:1px ; border-style:solid; width:15em; background-color:white;">
	<tr style="text-align: center; height:3em;">
		<%for (var i=0; i<objectMetadata.fieldDescriptors.length; i++){		
					var fd = objectMetadata.fieldDescriptors[i];
					
		  	if(fd.name == 'img'){
		%>
		  		<td style="width:30%;">
		  			<img src=<%=value[fd.name]%> style="height: 2em;"/>
		  		</td>
		<%
		  	}
		}%>
			
			<td style="width:70%; font-size: large; font-weight: bold;">
				<%=fields.parentName.here()%>
			</td>
	</tr>

<tr>
	<td colspan="2" style=" font-size: large; border: 2px; padding: 10px 40px; text-align: center; border-style:solid; border-radius:10px;">
		<%=fields.name.here()%>
		<div style="float:right;height: 2px;font-size: x-small;width: 1px;"><%=fields.stateNumber.here()%></div>
	</td>
</tr>


<tr>
	<td colspan="2" style="font-size:x-small;">
		<%
			for(var i=0; i < value.list.length; i++){
		%>
				<input type="checkBox" value=<%=value.list[i]%> ><%=value.list[i]%></input><br/>
		<%
			}
		%>
	</td>
</tr>

</table>
