<%
    if(value && value.gameBoard){

 %>

<table width="95%">


    <!--header-->
    <tr>

        <%

            value = value.gameBoard; //replacing the value


        var colspan = 100;

        if(mw3.where=='full'){
        %>
        <th width="75px"></th>

        <%}%>

        <%


        if(value.alphaGameBoards){


        if(mw3.where=='full'){
            var concerns = ['Customer', 'Solution', 'Endeavor'];
            var concernColspans = [];

            var prevConcern, j=-1;
            for (var i=0; i<value.alphaGameBoards.length; i++) {
                var concern = value.alphaGameBoards[i].alpha.concern;

                if(prevConcern != concern){
                    j ++;
                }

                var colspan2 = (concernColspans[j] ? concernColspans[j].colspan : 0);

                concernColspans[j] = {
                    concern: concern,
                    colspan: colspan2 + 1
                }

                prevConcern = concern;
            }

        for (var i=0; i<concernColspans.length; i++){
            var concern = concernColspans[i].concern;

        %>
        <th align="center"
                <% if(concernColspans[i].colspan > 0) {%>
            colspan="<%=concernColspans[i].colspan%>"
                <%}%>

        >

            <center>

                <h6><font color="<%=concernColors[concern]%>">&lt;&lt; <%=concern%> &gt;&gt;</font></h6>

                <div class="brace-div">
                    <div id="brace-left" class="brace"></div>
                    <div id="brace-right" class="brace"></div>
                </div>

            </center>
        </th>
        <%
        }

        %></tr><tr><th></th><%
        }

        for (var i=0; i<value.alphaGameBoards.length; i++){
            var alphaName = value.alphaGameBoards[i].alpha.name;
            var concern = value.alphaGameBoards[i].alpha.concern;

        %>
        <th align="center"><center>

                <h5><u><a href="#<%=alphaName%>" style="color:<%=concernColors[concern]%>"><%=alphaName%></a></u></h5></center></th>
        <%
        }
        }
        %>

    </tr>

    <!-- show completed -->

    <tr>
        <% if(mw3.where=='full'){%>
        <td><!--font color="#222"> done</font--></td>
        <%}%>
        <%

        if(value.alphaGameBoards)
        for (var i=0; i<value.alphaGameBoards.length; i++){
            var alphaGameBoard = value.alphaGameBoards[i];
            var alphaName = alphaGameBoard.alpha.name;

        %>
        <td align="center" style="background-image: url('images/essencia/black.png'); background-position:center; background-size: 3px; background-repeat: repeat-y">
                <%
                if(alphaGameBoard){

                    var alphaInstance = alphaGameBoard.alphaInstances[0].languageElementInstance;


                if(alphaInstance.currentStateName)
                for(var j=0; j<alphaGameBoard.alpha.states.length; j++){
                    var state = alphaGameBoard.alpha.states[j];


                    var concernColoredBtnCSS = "btn-info";
                    var style="";

                    if(alphaGameBoard.alpha.concern == "Customer"){
                        concernColoredBtnCSS = "btn-success";
                    }else if(alphaGameBoard.alpha.concern == "Solution"){
                        concernColoredBtnCSS = "btn-warning";
                    }

                    style=" style='background: "+ concernColors[alphaGameBoard.alpha.concern] +"'";

                    if(alphaInstance.currentStateName == state.name)
                        break;

                    var stateDetails = alphaInstance.stateDetailsByStateName[state.name];
                    var description = state.description;
                    if(stateDetails && stateDetails["Due"])
                        description = description + "\n [ Due date: " +  stateDetails["Due"] + " ]";
                %>

                    <button type="button" <%=style%> class="btn <%=concernColoredBtnCSS%> tooltip-top" data-placement="right" data-toggle="tooltip" data-original-title="<%=description %>"  onclick="mw3.getFaceHelper(<%=objectId%>).editStateInstance('<%=alphaName%>', '<%=state.name%>')">
                    <%
                    if(alphaInstance.targetStateName == state.name){
                    %><span class="glyphicon glyphicon-flag" aria-hidden="true"></span><%

                    }

                    %>
                    <%=state.name%>

                    </button><br><%



                }
                }

                %>
            </div>
        </td>
        <% }%>

    </tr>


    <!-- now running -->

    <tr>
        <% if(mw3.where=='full'){%>
        <td><div class="tag"> now</div></td>

        <%}%>

        <td align="center" colspan="<%=colspan%>"><hr style="color: #7f8c8d; border-color: #7f8c8d; background-color: #7f8c8d; margin: 0px"></td> </tr>


    <tr>

        <% if(mw3.where=='full'){%>

        <td><!--font color="#222">working</font--></td>
        <% }

        if(value.alphaGameBoards)
        for (var i=0; i<value.alphaGameBoards.length; i++){
            var alphaGameBoard = value.alphaGameBoards[i];
            var alphaName = alphaGameBoard.alpha.name;

        %>
        <td align="center" style="background-image: url('images/essencia/black.png'); background-position:center; background-size: 3px; background-repeat: repeat-y">
            <div style="padding:10px">
                <%
                if(alphaGameBoard){

                    var alphaInstance = alphaGameBoard.alphaInstances[0].languageElementInstance;
                    var nextOfCurrent = false;
                    var running = false;
                    var total = alphaInstance.subAlphaInstanceCount;
                    if(alphaInstance.stateDetailsByStateName["no-state"] && alphaInstance.stateDetailsByStateName["no-state"]["WIPCount"]){
                        total = total - alphaInstance.stateDetailsByStateName["no-state"]["WIPCount"];
                    }

                    for(var j=0; j<alphaGameBoard.alpha.states.length; j++){
                        var state = alphaGameBoard.alpha.states[j];

                        var concernColoredBtnCSS = "btn-info";
                        var style="";

                        if(alphaGameBoard.alpha.concern == "Customer"){
                            concernColoredBtnCSS = "btn-success";
                        }else if(alphaGameBoard.alpha.concern == "Solution"){
                            concernColoredBtnCSS = "btn-warning";
                            style=" style='background: #f1c40f'";
                        }

                        var stateDetails = alphaInstance.stateDetailsByStateName[state.name];
                        var description = state.description;
                        if(stateDetails && stateDetails["Due"])
                            description = description + "\n [ Due date: " +  stateDetails["Due"] + " ]";

                        if(alphaInstance.currentStateName == state.name || running){
                        %><button type="button" <%=style%> class="btn <%=concernColoredBtnCSS%> tooltip-top" data-placement="right" data-toggle="tooltip" data-original-title="<%=description%>" onclick="mw3.getFaceHelper(<%=objectId%>).editStateInstance('<%=alphaName%>', '<%=state.name%>')">
                            <%
                            if(alphaInstance.targetStateName == state.name){
                            %><span class="glyphicon glyphicon-flag" aria-hidden="true"></span><%

                            }

                            %>

                            <%=state.name%>

                            <%
                            if(alphaInstance.subAlphaInstanceCount>1){
                                var stateDetails = alphaInstance.stateDetailsByStateName[state.name];

                            if(stateDetails && stateDetails['WIPCount'] > 0){
                            %><br>(<%=stateDetails['WIPCount']%>/<%=alphaInstance.subAlphaInstanceCount%>)<%
                            }
                            }
                            %>


                            </button><br><%
                        }


                        if(alphaInstance.stateDetailsByStateName[state.name] && alphaInstance.stateDetailsByStateName[state.name]["WIPCount"] > 0){
                            total = total - alphaInstance.stateDetailsByStateName[state.name]["WIPCount"];
                            running = (total > 0);
                        }

                    }
                }



                %>
            </div>

        </td>

        <% }%>

    </tr>

    <!--todo states-->

    <tr>

        <% if(mw3.where=='full'){%>

        <td><div class="tag"> to-do</div></td>

        <%}%>

        <td align="center" colspan="<%=colspan%>"><hr style="color: #7f8c8d; border-color: #7f8c8d; background-color: #7f8c8d; margin: 0px"></td>
    </tr>

    <tr>

        <% if(mw3.where=='full'){%>

        <td><!--font color="#222">to do</font--></td>
        <%
        }

        if(value.alphaGameBoards)
        for (var i=0; i<value.alphaGameBoards.length; i++){
            var alphaGameBoard = value.alphaGameBoards[i];
            var alphaName = alphaGameBoard.alpha.name;

        %>
        <td align="center" style="background-image: url('images/essencia/black.png'); background-position:center; background-size: 3px; background-repeat: repeat-y">
            <div style="padding:10px">
                <%
                if(alphaGameBoard){

                    var alphaInstance = alphaGameBoard.alphaInstances[0].languageElementInstance;

                    var nextOfCurrent = false;
                    var running = false;
                    var beforeCurrent = alphaInstance.currentStateName;
                    var total = alphaInstance.subAlphaInstanceCount;
                    if(alphaInstance.stateDetailsByStateName["no-state"] && alphaInstance.stateDetailsByStateName["no-state"]["WIPCount"]){
                        total = total - alphaInstance.stateDetailsByStateName["no-state"]["WIPCount"];
                    }

                    for(var j=0; j<alphaGameBoard.alpha.states.length; j++){
                        var state = alphaGameBoard.alpha.states[j];

                        var stateDetails = alphaInstance.stateDetailsByStateName[state.name];
                        var description = state.description;
                        if(stateDetails && stateDetails["Due"])
                            description = description + "\n [ Due date: " +  stateDetails["Due"] + " ]";


                        if(!beforeCurrent && !nextOfCurrent && !running){
                        %><button type="button" class="btn btn-default tooltip-top" data-placement="right" data-toggle="tooltip" data-original-title="<%=description%>" onclick="mw3.getFaceHelper(<%=objectId%>).editStateInstance('<%=alphaName%>', '<%=state.name%>')">

                            <%
                            if(alphaInstance.targetStateName == state.name){
                            %><span class="glyphicon glyphicon-flag" aria-hidden="true"></span><%

                            }

                            %>

                            <%=state.name%> </button><br><%
                        }

                        if(alphaInstance.stateDetailsByStateName[state.name] && alphaInstance.stateDetailsByStateName[state.name]["WIPCount"] > 0){
                            total = total - alphaInstance.stateDetailsByStateName[state.name]["WIPCount"];

                            running = (total > 0);
                        }


                        if(alphaInstance.currentStateName == state.name){
                            nextOfCurrent = true;
                            beforeCurrent = false;
                        }else {
                            if (nextOfCurrent){
                                nextOfCurrent = false;
                            }
                        }
                    }
                }

                %>
            </div>
        </td>
        <% }%>

    </tr>

</table>

<hr>

<%}%>