<!--replace-->
<tr id="objDiv_<%=objectId%>">

<% if (value && !value.deleted) {

    var alphaInstance = value.languageElementInstance;
    var alpha = mw3.uengineUML.classDefinitions[alphaInstance.classDefinition.name];


    if(alpha.fieldDescriptors){

        for (var i=0; i<alpha.fieldDescriptors.length; i++) {

            var fd = alpha.fieldDescriptors[i];

            if (fd.name == 'metaworksContext') continue;

            %>
    <td><% if (alphaInstance.valueMap[fd.name] && alphaInstance.valueMap[fd.name].__className) {%>
            <%=mw3.locateObject(alphaInstance.valueMap[fd.name])%>
        <%}else{%>
            <%=alphaInstance.valueMap[fd.name]%>
        <%}%>
    </td>
            <%
        }
    }

    for(var j in alpha.states){

        var state = alpha.states[j];

        %><td><%

        if(alphaInstance.currentStateName == state.name){
            %><div class="icon-rounded m-r-10 current tooltip-top"><%
        }

        if(alphaInstance.targetStateName == state.name){
            %><i class="glyphicon glyphicon-flag workitem_btn current"></i><%
        }


        if(alphaInstance.subAlphaInstanceCount>1){
            var stateDetails = alphaInstance.stateDetailsByStateName[state.name];

            if(stateDetails && stateDetails['WIPCount'] > 0){

            // var max = 256;


                %><div><font color="blue"><b><%=stateDetails['WIPCount']%>/<%=alphaInstance.subAlphaInstanceCount%></b></font></div><%
            }
        }

        if(alphaInstance.currentStateName == state.name){
            %></div><%
        }

        %></td><%
    }
}
%>


</tr>
