<!--replace-->
<tr id="objDiv_<%=objectId%>">

<% if (value && !value.deleted && value.languageElementInstance && value.languageElementInstance.classDefinition) {

    var alphaInstance = value.languageElementInstance;
    var alpha = mw3.uengineUML.classDefinitions[alphaInstance.classDefinition.name]; //it must be available by AlphaGameBoard.ejs will cache the class definitions.


    if(alpha && alpha.fieldDescriptors){

        for (var i=0; i<alpha.fieldDescriptors.length; i++) {

            var fd = alpha.fieldDescriptors[i];

            if (fd.name == 'metaworksContext') continue;

            var rowSpan = "";

            if(mw3.when != 'edit') {
                if (!value.rowSpanMap) continue;
                rowSpan = value.rowSpanMap[fd.name];

                if (!rowSpan || rowSpan == 0) continue;
                if (rowSpan > 1) {
                    rowSpan = " rowSpan=" + rowSpan;
                } else {
                    rowSpan = "";
                }
            }

            %>
    <td<%=rowSpan%>><%

          if (alphaInstance.valueMap[fd.name] && alphaInstance.valueMap[fd.name].__className) {%>
            <%=mw3.locateObject(alphaInstance.valueMap[fd.name])%>
        <%}else{%>
            <%=alphaInstance.valueMap[fd.name]%>
        <%}%>
    </td>
            <%
        }
    }else{
       %><td><%=alphaInstance.valueMap["id"]%></td><%
    }

    if(alpha.states)
    for(var j in alpha.states){

        var state = alpha.states[j];

        %><td><%

        if(alphaInstance.currentStateName == state.name){
            %><div class="icon-rounded m-r-10 current tooltip-top"><%
        }

        if(alphaInstance.targetStateName == state.name){
            %><i class="glyphicon glyphicon-flag workitem_btn current"></i><%
        }


        if(alphaInstance.subAlphaInstanceCount>1){
            var stateDetails = alphaInstance.stateDetailsByStateName[state.name];

            if(stateDetails && stateDetails['WIPCount'] > 0){

            // var max = 256;


                %><div><h5><%=stateDetails['WIPCount']%>/<%=alphaInstance.subAlphaInstanceCount%></h5></div><%
            }
        }

        if(alphaInstance.currentStateName == state.name){
            %></div><%
        }

        %></td><%
    }
}
%>


</tr>
