<%
	if(value){
		var showText = !(descriptor && descriptor.getOptionValue('hideText', false));
		if(showText)
			showText = !objectMetadata.getOptionValue('hideText', false);
			
		if(mw3.when == "image"){
%>
		<div id="convertProgress_<%=objectId%>" class="img_loader">
			<div><img src="dwr/metaworks/images/circleloading.gif" width="16" height="16" style="width:16px !important; height:16px !important; margin:0px"/></div>
		</div>
		<div id="image_<%=objectId%>">&nbsp;</div> 
		
<%
		}else if(mw3.when == 'attach' || mw3.when == 'view'){
%>
	<div  style="margin-top:5px;">
		<span style="float:left;font-size: 14px;line-height: 23px" class="icon-download3"></span>
		<a href="#" style="cursor: pointer; float: left;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;-o-text-overow: ellipsis;max-width: 150px; color:#0452F2" onclick="mw3.getFaceHelper(<%=objectId%>).download()" title="">
			<span style=" line-height:1.8em; margin-left:5px; margin-right:10px;" id="filename_" title="<%=value.filename%>"><%=value.filename%></span>
		</a>
<%
		if(value.filesize){
%>
		<span style="float: left; line-height:1.8em;" title="<%=value.filesize.commaSeparated()%> Bytes">(<%=formatFilesizeUnits(value.filesize)%>)</span>
<%
		}
%>
		<div style="clear:both"></div>
	</div>	
<%
		}else{
			if(mw3.when == mw3.WHEN_NEW || mw3.when == mw3.WHEN_EDIT){
%>
	<span id="filebtnadd_<%=objectId%>" style="float:left">
		<button type="button" class="btn btn-info btn-xs" ><span class="glyphicon glyphicon-paperclip"></span> <%=mw3.localize('$FileAttach')%></button>
		
		<%=fields.fileTransfer.here()%>
	</span>
	<%=methods.upload.here()%>
	<span id="filebtndel_<%=objectId%>" style="display:none;float:left">
		<button type="button" class="btn btn-danger btn-xs" onclick="mw3.getFaceHelper(<%=objectId%>).del(event)"><span class="glyphicon glyphicon-remove" style="font-size: 14px; line-height: 24px"></span> 파일삭제</button>
	</span>
	<span id="filebtndownload_<%=objectId%>" style="display:none;float:left">
		<button type="button" class="btn btn-danger btn-xs" onclick="mw3.getFaceHelper(<%=objectId%>).download()"><span class="glyphicon glyphicon-remove" style="font-size: 14px; line-height: 24px"></span> 다운로드</button>
	</span>
<%
			}
			
			if(showText){
%>
	<span style="float: left; line-height:1.8em; margin-left:10px; max-width:200px; overflow:hidden; white-space:nowrap; text-overflow: ellipsis;" id="filename_<%=objectId%>">선택된 파일 없음</span>
	<div style="clear:both"></div>
<%
			}
		}
	}
%>