<table style="
    width: 100%;
    border: 1px;
    border-color: #BBBBBB;
    border-style: solid;

    box-shadow: 5px 5px 5px #CCCCCC;
"
		cellpadding="10px"
		>
	<tr>
		<td>
			<h2><img src="<%=value['img']%>">
				<%=value.name%></h2>
		</td>
		<td style=" float : right; ">
			<%=value.parentName%>
		</td>
	</tr>

	<tr style="height: 350px;">
		<td style="width : 50%; overflow:auto; position:relative; border-top:1px solid; border-color: #BBBBBB">
			<%=fields.canvas.here()%>
		</td>

		<td valign="top" style="width : 50%; overflow:auto;position: relative; border-top:1px solid; border-left:1px solid; border-color: #BBBBBB">

<%
			 if(value.detail){
%>
			<%=fields.detail.here()%>
<%
			 }else{
%>
			<div style="padding: 10px"><%=value.description%></div>
			<%}%>
		</td>
	</tr>
</table>