<table style="
    width: 100%;
    border: 2px;
    border-color: #BBBBBB;
    border-style: solid;

    box-shadow: 5px 5px 5px #CCCCCC;
">
	<tr>
		<td>
			<h1><img src="<%=value['img']%>">
				<%=value.name%></h1>
		</td>
		<td style=" float : right; ">
			<%=value.parentName%>
		</td>
	</tr>

	<tr style="height: 23em;">
		<td style="width : 50%; overflow:auto; position:relative; border-top:1px solid; border-color: #BBBBBB">
			<%=fields.canvas.here()%>
		</td>

		<td style="width : 50%; overflow:auto;position: relative; border-top:1px solid; border-left:1px solid; border-color: #BBBBBB">
			<%=value.description%>
		</td>
	</tr>
</table>