<%
var states = value.states;
var activity = value.activity;
var alpha = value.alpha;

var alphaMapping = value.alphaMapping;
var activityMapping = value.activityMapping;



var kernelStates = new Array(alpha.length);


for(var i=0; i<alpha.length; i++){
	kernelStates[i] = alphaMapping[alpha[i]];
}
%>
				<table style="border:1px ; border-style:solid; background-color:white;">
				<tr>
					<TH style=" background-color: #E0F8E0;  border: 2px; padding: 30px 1px; text-align: center; border-style:solid; width: 50px; "><%=alpha[0]%></TH>
					<TH style=" background-color: #E0F8E0;  border: 2px; padding: 30px 1px; text-align: center; border-style:solid; width: 50px; "><%=alpha[1]%></TH>
					<TH style=" background-color: #F5F6CE;  border: 2px; padding: 30px 1px; text-align: center; border-style:solid; width: 50px; "><%=alpha[2]%></TH>
					<TH style=" background-color: #F5F6CE;  border: 2px; padding: 30px 1px; text-align: center; border-style:solid; width: 50px; "><%=alpha[3]%></TH>
					<TH style=" background-color: #E0ECF8;  border: 2px; padding: 30px 1px; text-align: center; border-style:solid; width: 50px; "><%=alpha[4]%></TH>
					<TH style=" background-color: #E0ECF8;  border: 2px; padding: 30px 1px; text-align: center; border-style:solid; width: 50px; "><%=alpha[5]%></TH>
					<TH style=" background-color: #E0ECF8;  border: 2px; padding: 30px 1px; text-align: center; border-style:solid; width: 50px; "><%=alpha[6]%></TH>
				</tr>

<%for(var i=0; i<6; i++){%>
	<%var alphaList = kernelStates[i];%>
				<tr>
	<%for(var j=0; j<alpha.length; j++){%>
		<%if(i==5 && j==4){%>
					<TD style=" border: 2px; padding: 30px 1px; text-align: center; border-style:solid; border-radius:10px;"></TD>
		<%}else{
			var state = kernelStates[j][i];
			if(state.involved){
		%>
					<TD style=" background-color: #E6AFCA;  border: 2px; padding: 30px 1px; text-align: center; border-style:solid; border-radius:10px;"><%=state.name%></TD>
			<%}else{%>
					<TD style=" border: 2px; padding: 20px 1px; text-align: center; border-style:solid; border-radius:10px;"><%=state.name%></TD>
			<%}%>
		<%}%>
	<%}%>
				</tr>
<%}%>

			</table>




		