<h3><%=value.classDefinition.name%></h3>

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#properties<%=objectId%>" aria-controls="home" role="tab" data-toggle="tab">Properties</a></li>
    <li role="presentation"><a href="#checkpoints<%=objectId%>" aria-controls="profile" role="tab" data-toggle="tab">Checkpoints</a></li>
    <li role="presentation"><a href="#activities<%=objectId%>" aria-controls="profile" role="tab" data-toggle="tab">Activities</a></li>
    <li role="presentation"><a href="#planning<%=objectId%>" aria-controls="profile" role="tab" data-toggle="tab">Planning</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="properties<%=objectId%>">

        <%=include('dwr/metaworks/org/uengine/uml/model/ObjectInstance.ejs')%>

    </div>
    <div role="tabpanel" class="tab-pane" id="checkpoints<%=objectId%>">

      <%if(mw3.when == 'edit' && value.checkPointInstanceGroups && value.checkPointInstanceGroups.length > 0){%>

      <%=fields.checkPointInstanceGroups.here()%>

      <%}%>

    </div>
    <div role="tabpanel" class="tab-pane" id="activities<%=objectId%>">

        <%if(mw3.when == 'edit' && value.alphaActivityPanel){%>

        <%=here("alphaActivityPanel")%>

        <%}%>

    </div>
    <div role="tabpanel" class="tab-pane" id="planning<%=objectId%>">

        <%if(mw3.when == 'edit' && value.alphaPlanningPanel){%>

        <%=fields.alphaPlanningPanel.here()%>

        <%}%>

    </div>
  </div>

</div>


