<table style="
    width: 100%;
    border: 1px;
    border-color: black;
    border-style: solid;
">
	<tr>
		<td>
			<img src=<%=value['img']%> height="60" width="70"  />
			<%=fields.parentName.here()%>
		</td>
		<td style=" float : right; ">

        </td>

	</tr>

	<tr style="height: 23em;">
		<td style="width : 50%; overflow:auto; position:relative; border-top:1px solid;">

			<%
				for(var i=0; i < value.levels.length; i++){
					if( value.levels[i]==value.name){
			%>
						<div style=" font-size: large; border: 2px; padding: 10px 40px; text-align: center; border-style:solid; border-radius:10px;background-color: skyblue;">
							<%=value.levels[i]%>
						</div>
			<%
					} else {
			%>
						<div style=" font-size: large; border: 2px; padding: 10px 40px; text-align: center; border-style:solid; border-radius:10px;">
							<%=value.states[i]%>
						</div>
			<%
					}
			%>


			<%
				}
			%>
		</td>

		<td style="width : 50%; overflow:auto;position: relative; border-top:1px solid; border-left:1px solid;">
			<%
				for(var i=0; i < value.list.length; i++){
			%>
					<input type="checkBox" value=<%=value.list[i]%> ><%=value.list[i]%></input><br/>
			<%
				}
			%>
		</td>
	</tr>
</table>