<table class="table table-bordered">

    <tr>
<%



    var alphas = value.kernelAlphas;//["Stakeholders", "Opportunity", "Requirements", "System", "Team", "Work", "Way-of-working"];

    for(var index in alphas){

        var alpha = alphas[index];

    %><th><%=alpha.name%></th><%


    }



%>

    </tr>

<%

    for(var i=0; i<7; i++){

%>
    <tr>
        <%

        for(var j in alphas){

            var alpha = alphas[j];

           // if(i >= alpha.states.value.length) continue;

            var coveragesByStateIndex = value.coverages[alpha.name];

            if(coveragesByStateIndex && coveragesByStateIndex[i]){
                var coverage = coveragesByStateIndex[i];

                %><td style="background-color: rgb(<%=coverage.red%>,<%=coverage.green%>,<%=coverage.blue%>)"><%=alpha.states.value[i] ? alpha.states.value[i].name : ''%></td><%

            }else{

        %><td><%=alpha.states.value[i] ? alpha.states.value[i].name : ''%></td><%

            }
        }



        %>

    </tr>

<%}%>

</table>
