<div style="padding: 15px">

	<h2><%=mw3.localize("$newInstancePanel.StartNewProjectWithProcess")%></h2>
		<p><%=mw3.localize("$newInstancePanel.StartNewProjectWithProcess.detail")%></p>
		<%=fields.processMapPanel.here()%>

	<h2><%=mw3.localize("$newInstancePanel.StartNewConversation")%></h2>
		<p><%=mw3.localize("$newInstancePanel.StartNewConversation.detail")%></p>
		<%=fields.newInstantiator.here()%>

</div>