<% 
if(mw3.when != 'view'){
%>

	<div>
		<h3>Author: </h3>
		<%=fields.author.here()%><br/>
		
		<h3>Comment: </h3>
		<%=fields.comment.here()%><br/>
		
		<h3>Resource:</h3>
		<ul>
			<li>
				<%=fields.resources.here()%>
			</li>
			<% if(value.resources.match("method$")=="method") { %>
				<li>
					<%=value.resources.replace("method", "process")%>
				</li>
			<%}%>
		</ul>
	</div>

<%}else{%>
<tr>
	<td><%=fields.revision.here()%></td><td> : </td><td><%=fields.author.here()%></td><td> : </td><td><%=fields.date.here()%></td>
</tr>
<%}%>
