<ul class="dropdown-menu-jms">
<%
if(value){
	if(objectMetadata.serviceMethodContexts){
		for(var key in objectMetadata.serviceMethodContexts){

			var serviceMethod = objectMetadata.serviceMethodContexts[key];
			var methodName = serviceMethod.methodName;
			var menuName = methodName;

			if(serviceMethod.displayName)
				menuName = serviceMethod.displayName;   

			menuName = menuName.replace("\&", "");

			var hasChild = false;
			if(serviceMethod.rtnCls == objectMetadata.superClasses[objectMetadata.superClasses.length-1])
				hasChild = true;
			%>
			<li class="sub-menu menu-<%=methodName%> <%=hasChild?'has-child':''%>" >
			<a href="#" onclick="mw3.getFaceHelper('<%=objectId%>').callMethod(this, '<%=methodName%>');">
			<span><%=menuName%></span>
			<%
			if(hasChild){
				%>     
				<span class="caret" style="float:right;margin-top: 7px;"></span>
				<%
			}
			%>     
			</a>
			</li>     
			<%
		}
	}
}
%>
<div style="clear:both" />
</ul>