<%
var concerns = [];

    for(var i = 0; i < value.alphas.length; i++){
//        if(!(value.alphas[i].concern in concerns)){
        if($.inArray(value.alphas[i].concern, concerns) < 0){
            concerns.push(value.alphas[i].concern);
        }
    }
%>
<div id="plan-month" style="position:absolute;top:0;left:0;width:100%;height:600px;">
    <div id="plan-month-start" class="plan-month"><span id="start-date"
                                                        style="border:1px solid #555;background:#555;color:#fff;border-top-left-radius:10px;border-top-right-radius:10px;padding:2px;padding-left:10px;padding-right:10px;">S</span>
    </div>
    <div id="plan-month-gen">
    </div>

    <div class="plan-month"><span
                style="border:1px solid #555;background:#555;color:#fff;border-top-left-radius:10px;border-top-right-radius:10px;padding:2px;padding-left:10px;padding-right:10px;">06/2015</span>
    </div>
    <div class="plan-month"><span
                style="border:1px solid #555;background:#555;color:#fff;border-top-left-radius:10px;border-top-right-radius:10px;padding:2px;padding-left:10px;padding-right:10px;">07/2015</span>
    </div>
    <div class="plan-month"><span
                style="border:1px solid #555;background:#555;color:#fff;border-top-left-radius:10px;border-top-right-radius:10px;padding:2px;padding-left:10px;padding-right:10px;">08/2015</span>
    </div>
    <div class="plan-month">
        <span style="border:1px solid #555;background:#555;color:#fff;border-top-left-radius:10px;border-top-right-radius:10px;padding:2px;padding-left:10px;padding-right:10px;">09/2015</span>
    </div>
    <div class="plan-month">
        <span style="border:1px solid #555;background:#555;color:#fff;border-top-left-radius:10px;border-top-right-radius:10px;padding:2px;padding-left:10px;padding-right:10px;">10/2015</span>
    </div>

    <div class="plan-month">
        <span style="border:1px solid #555;background:#555;color:#fff;border-top-left-radius:10px;border-top-right-radius:10px;padding:2px;padding-left:10px;padding-right:10px;">11/2015</span>
    </div>

    <div id="plan-month-end" class="plan-month" stlye="margin-top:400px;"><span id="end-date"
                                                                                style="border:1px solid #555;background:#555;color:#fff;border-top-left-radius:10px;border-top-right-radius:10px;padding:2px;padding-left:10px;padding-right:10px;">E</span>
    </div>
</div>

<div id="plan-status" style="position:absolute;top:0;left:0;width:100%;height:600px;">
    <div id="plan-status-now" class="plan-status"><span
                style="border:1px solid blue;background:blue;color:#fff;border-top-left-radius:10px;border-top-right-radius:10px;padding:2px;padding-left:10px;padding-right:10px;">Now</span>
    </div>
    <div id="plan-status-todo" class="plan-status"><span
                style="border:1px solid blue;background:blue;color:#fff;border-top-left-radius:10px;border-top-right-radius:10px;padding:2px;padding-left:10px;padding-right:10px;">To-Do</span>
    </div>
</div>

<div style="margin:auto;position:absolute;">
    <table cellpadding="5">
        <tr>
            <%
            for(var concernIndex = 0; concernIndex < concerns.length; concernIndex++){
            %>
            <td>
                <div class="concern-cover-2">
                    <div class="concern-header"><%=concerns[concernIndex]%></div>
                    <div class="concern-body">
                        <table><tr>
                        <%
                        for(var i = 0 ; i < value.alphas.length; i++){
                            if(value.alphas[i].concern != concerns[concernIndex]){
                                continue;
                            }
                        %>
                        <td>
                        <div class="alpha-cover">
                            <div class="alpha-title"><%= value.alphas[i].name %></div>
                            <div id="alpha-<%= i %>" class="alpha">

                                <% for(var j = 0 ; j < value.alphas[i].states.length; j++){ %>
                                <div id="state-<%= i %>-<%= j %>" class="state" data-toggle="tooltip" title="2015-01-21"
                                     style='position:relative;cursor:pointer; cursor:hand; ' ondblclick="mw3.getFaceHelper('<%=objectId%>').showDetailState(this)">
                                    <%= value.alphas[i].states[j].name %></div>
                                <% } %>

                            </div>
                        </div>
                            </td>
                        <% } %>
                            </tr>
                        </table>
                    </div>
                </div>
            </td>
            <% } %>

        </tr>
    </table>
</div>