<table width="100%"><td>
<%
	if(value){
%>
<%=fields.activityCard.here()%>
		<div>
			<%=fields.parameters.here()%>
		</div>

<%=fields.workItem.here({when:'view'})%>

		<%
		if(mw3.when != 'view' && mw3.where =='detail'){
		%>
		<hr>
		<div class="btn-group" role="group" align="right">
			<%=methods.complete.here()%>
			<%=methods.save.here()%>
			<%=methods.cancel.here()%>
			<%=methods.skip.here()%>
			<%=methods.accept.here()%>
		</div>

		<%
		}
		}
		%>


	</td></table>