<table width="100%"><td>



<%
	if(value){
%>


<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#activityCard<%=objectId%>" aria-controls="home" role="tab" data-toggle="tab">Activity Card</a></li>
    <li role="presentation"><a href="#input<%=objectId%>" aria-controls="profile" role="tab" data-toggle="tab">Inputs</a></li>
    <li role="presentation"><a href="#output<%=objectId%>" aria-controls="profile" role="tab" data-toggle="tab">Outputs</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="activityCard<%=objectId%>">

       <%=fields.activityCard.here()%>

    </div>
	  <div role="tabpanel" class="tab-pane" id="input<%=objectId%>">

		  <div>
			  <%=fields.inputParameters.here()%>
		  </div>

	  </div>
	  <div role="tabpanel" class="tab-pane" id="output<%=objectId%>">

		  <div>
			  <%=fields.outputParameters.here()%>
		  </div>

	  </div>
  </div>

</div>

<%=fields.workItem.here({when:'view'})%>

		<%
		if(mw3.when != 'view' && mw3.where =='detail'){
		%>
		<hr>
		<div class="btn-group" role="group" align="right">
			<%=methods.complete.here()%>
			<%=methods.save.here()%>
		</div>
		<div class="btn-group" role="group" align="right">
			<%=methods.cancel.here()%>
			<%=methods.skip.here()%>
		</div>
		<div class="btn-group" role="group" align="right">
			<%=methods.accept.here()%>
			<%=methods.delegate.here()%>
		</div>

		<%
		}
		}
		%>


	</td></table>